body,
html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: url(../assets/footer-bg.png) no-repeat center bottom;
  padding-bottom: 400px;
}

.whatsapp-link {
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 40px;
  right: 17px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.fa-whatsapp {
  margin-top: 10px;
}

#header {
  width: 100%;
  background-color: transparent;
  transition: background ease-out 0.2s;
}

#header.active {
  position: fixed;
  background: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

#header .navbar-collapse {
  width: auto;
}

#header .nav-link {
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 0;
  padding-right: 0;
  color: #000;
  border-bottom: solid 4px transparent;
}

#header .nav-link:hover {
  border-bottom: solid 4px var(--secondary);
  color: var(--secondary);
}

#slider {
  background: url(../assets/slider-bg.svg) no-repeat center bottom;
  background-size: contain;
}

#slider h1 {
  text-transform: uppercase;
  font-weight: 900;
}

#slider h4 {
  font-size: 18px;
  text-transform: uppercase;
}

#servicos a.destaque {
  display: block;
  background: #fff;
  border-radius: 5px;
  box-shadow: 10px 5px 5px var(--light);
  text-align: center;
  padding: 20px;
  color: #000;
  text-decoration: none;
  transition: all ease-out 0.2s;
}

#servicos a.destaque:hover {
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  transform: scale(1.05);
}

#servicos p {
  color: var(--secondary);
}

#servicos a.destaque .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

#servicos a.destaque .img-container img {
  max-height: 160px;
}

#box h5 {
  margin-bottom: 10px;
}

#box p {
  font-size: 15px;
  line-height: 28px;
  height: 90px;
  overflow: hidden;
}

#box a {
  display: inline-block;
  color: var(--light);
  background-color: var(--secondary);
  text-decoration: none;
  padding: 5px 5px;
  border-radius: 8px;
  margin-top: 15px;
}

#box a:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

#box.showContent p {
  height: auto;
}

#box.showContent a.readmore-btn {
  background-color: var(--dark);
}

#clientes a.link-cliente {
  padding: 0 15px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--light);
  height: 100px;
  transition: ease-out all 0.2s;
}

#clientes a.link-cliente:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

#clientes a.link-cliente img {
  filter: grayscale(100%);
  max-height: 70px;
  width: 100%;
  opacity: 0.6;
}

#clientes a.link-cliente:hover img {
  filter: none;
  opacity: 1;
}

#clientes .cliente-texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  background-color: var(--light);
  border-radius: 5px;
}

#clientes .cliente-texto .imagem {
  padding: 60px 0;
  display: flex;
  align-items: center;
  margin-left: -70px;
  color: #b4b4b4;
  font-size: 24px;
  line-height: 26px;
}

#clientes .cliente-texto .imagem span {
  color: var(--secondary);
  font-size: 110px;
  line-height: 110px;
  letter-spacing: -10px;
  font-weight: 900;
  display: block;
}

#clientes .cliente-texto .telefone {
  display: flex;
  font-size: 14px;
  color: #b4b4b4;
}

#clientes .cliente-texto .telefone span {
  font-size: 25px;
  color: #797979;
  font-weight: 900;
  display: block;
}

#servicos .badge {
  font-weight: 400;
}

#servicos .element-item img {
  border-radius: 5px;
  transition: all ease-out 0.2s;
}

#servicos .element-item img:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
}

#servicos .button-group {
  margin-bottom: 30px;
}

#servicos .button-group button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
}

#servicos .button-group button + button {
  margin-left: 30px;
}

#servicos .button-group button.active {
  color: var(--primary);
}

#depoimentos .depoimento {
  background-color: var(--light);
  border-radius: 5px;
  display: flex;
  padding: 30px;
}

#depoimentos .depoimento .quote {
  max-width: 35px;
}

#depoimentos .depoimento .name {
  color: #aaaaaa;
}

#depoimentos .depoimento .name span {
  color: #000;
  font-weight: 700;
}

#contato .email {
  border-radius: 5px;
  background-color: var(--secondary);
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 30px;
}

#contato .email img {
  position: absolute;
  left: 30px;
  top: -30px;
}

#contato .email form {
  width: 60%;
  display: flex;
}

#contato .email .form-control,
#contato .email .form-control::placeholder {
  background: none;
  color: #fff;
}

#contato ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

#contato ul li {
  display: flex;
  list-style-type: none;
  margin-left: 25px;
}

#contato ul li:first-child {
  margin-left: 0;
}

#contato ul li a {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: all ease-out 0.2s;
}

#contato ul li a:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

#contato ul li img {
  max-height: 20px;
}

/*FOOTER*/
footer {
  background: var(--light);
  color: #000;
  padding: 2rem 0 3rem;
  margin-top: 1rem;
}

footer img {
  height: 3rem;
  margin: 1.5rem 0;
}

footer a {
  color: var(--primary);
  font-size: 1.9rem;
  margin: 1.2rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover {
  color: var(--secondary);
}

hr.socket {
  border-top: .2rem solid var(--secondary);
  width: 100%;
}

/* //FOOTER*/


/*LINKS ÚTEIS */
#home {
  margin: 20px auto;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}


#home .colunas {
  width: 49%;
  padding: 10px 0;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.largura-site {
  width: 98%;
  max-width: 1200px;
  margin: 0 auto;
}


* {
  resize: none;
  box-sizing: border-box;
  outline: none;
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
  font-family: inherit;
}


#home{margin: 20px auto;}
#home .colunas{width: 49%; padding: 10px 0;}
#home h1{color: var(--secondary); text-transform: uppercase; font-weight: 400; margin: 0; width: 100%;}
#home h1 span{color: rgb(77,77,77); font-size: 60%; display: block;}
#home h2 {color:rgb(255,255,255); padding: 20px 10px; margin: 0; font-weight: 400; width: 100%; align-self: flex-start;}
#home h2 span{font-size: 50%; display: block;}
#home h3{color:rgb(77,77,77); font-weight: 400;}
#home h3 span{color: var(--dark); font-size: 60%; display: block;}
#home p{font-size: 13px; color:rgb(77,77,77); text-align: justify; margin: 0;}
#home p a{color: #FD0002;}
#home p a:hover{color:rgb(77,77,77);}
#home .textosite{margin-top: 25px; width: 100%;}
#home .textosite p{margin: 20px 0;}
#home .textosite ul{font-size: 13px; color:rgb(77,77,77);}
#home .titulo{font:20px 'Raleway', sans-serif; color: var(--secondary); text-transform: uppercase; margin-bottom: 10px; }
.colorido01{background-image: linear-gradient( to right, var(--secondary), var(--dark));}
.colorido02{background: var(--primary-dark);}
.coluna-txt{margin: 25px 0;}
.coluna-txt-blocos{width: 48%; margin: 15px 0;  border-bottom: 1px dotted rgb(77,77,77);}
.coluna-txt-blocos:last-child, .coluna-txt-blocos:first-child{border-bottom: none;}


.colunas-links-home{width: 49%;}
.colunas ul{list-style: none; padding: 0; margin: 0; width: 100%; display: flex; flex-wrap: wrap;}
.colunas ul li:nth-child(odd){background: rgb(221,221,221);}
.colunas ul li:nth-child(even){background: rgb(238,238,238);}
.colunas ul li:before{width: 0; height: 100%; top:0; left: 0; position: absolute; content: ""; background: rgb(77,77,77); transition: all 300ms; -webkit-transition:all 300ms;}
.colunas ul li:hover:before{width: 100%;}
.colunas ul li{position: relative; width: 100%; display: flex; align-items: center}
.colunas ul li a{width: 100%; display: block; padding: 20px 10px; font:13px 'Raleway', sans-serif; text-transform: uppercase; position: relative; z-index:1;}
.colunas ul li a:before{font:15px 'FontAwesome'; content:"\f101"; color: #FD0002; margin-right: 15px;}
.colunas ul li a:hover:before{width: 100%;}
.colunas ul li a:hover{color:rgb(238,238,238);}

.noticias{margin: 40px auto;}
.noticias h1{color:#FD0002; text-transform: uppercase; font-weight: 400; margin: 0;}
.noticias h1 span{color:rgb(77,77,77); font-size: 60%; display: block;}
#noticias_slide h4{color:rgb(77,77,77); margin: 0;}
#noticias_slide p{font-size: 13px; color:rgb(77,77,77); margin-bottom: 30px;}
#noticias_slide .botao {color: rgb(255,255,255); background: #FD0002; font-size: 13px; padding: 10px 20px;}
#noticias_slide .botao:hover { background: rgb(77,77,77); color: rgb(255,255,255);}
#noticias_slide div {margin: 10px 0;}
.owl-theme .owl-controls .owl-page span { width: 15px !important; height: 15px !important; margin: 0 2px !important; border-radius: 50% !important; background: #999999 !important; opacity: .3 !important;}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span { opacity: 1 !important;}
/* FIM LINKS ÚTEIS*/


/* UTILITARIOS */
.utilitarios{margin: 20px auto;}
.util{width: 25%; align-items: flex-start; text-align: center;}
.util:hover .efeito-escuro{bottom: 0;}
.util:hover .tit-util{background: rgb(45,45,45);}
.util .tit-util{width: 100%; background: var(--primary); padding: 15px; font:16px 'Raleway', sans-serif; font-weight: 400; text-transform: uppercase; color:rgb(255,255,255); margin: 0; display: block;}
.img-qdd{position: relative; overflow: hidden; max-height: 350px}
.img-qdd .efeito-escuro{width: 100%; height: 100%; position: absolute; background: rgba(0,0,0,.5); bottom: -100%; display: flex; justify-content: center; align-items: center; flex-wrap: wrap;}
.img-qdd .efeito-escuro p{color:rgb(255,255,255); width: 90%; line-height: 30px;}
.img-qdd .efeito-escuro a{color:rgb(255,255,255); border:1px solid rgb(255,255,255); padding: 20px;}
.img-qdd .efeito-escuro a:hover{background:rgba(255,255,255,.5); }

.espaco-programacoes{background: rgb(238,238,238); padding: 60px 10px;}
.espaco-programacoes h1{color:#FD0002; text-transform: uppercase; font-weight: 400; text-align: center;}
.espaco-programacoes h1 span{color:rgb(45,45,45); font-size: 50%; display: block; margin: 15px 0;}
.prog{width: 49%; background: rgb(45,45,45); margin: 5px 0;}
/* FIM UTILITARIOS*/